.breadcrumb {
  letter-spacing: 1.5px;
  
}

#slides {
  position: relative;
  width: 300%;
  height: auto;
}
#cards img {
  width: 100%;
  height: auto;
}
#peta{
  position: absolute;
  top: 53%;
  left: 40%;
  width: 70px;
  height: 30px;
  background-color: blue-grey darken-4;
}
#wcs{
  position: absolute;
  top: 55%;
  left: 40%;
  width: 70px;
  height: 30px;
  background-color: blue-grey darken-4;

